.about-part1{
  height: 600px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.about-part1-title{
  /* 让实时连接更简单: */
  font-size: 40px;
  color: #000000;
  letter-spacing: 1.1px;
  text-align: center;
  font-weight: 200;
  padding-top: 96px;
}

.about-part1-inner{
  text-align: center;
  font-weight: 300;
  color: #7D7D7D;
  margin-top: 34px;
}

.about-part2-bg{
  height: 740px;
  width: 100%;
  /* Rectangle 21 Copy 3: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FAFAFA 97%);
}

.about-part2{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.about-part1-img{

}

.about-part2-title{
  text-align: center;
  font-weight: 200;
  /* 团队: */
  font-size: 24px;
  color: #000000;
  padding-top: 64px;
}

.about-part2-inner{
  text-align: center;
  /* Pili 让直播通信更便捷地应用在人们日: */
  padding-top: 24px;
  font-weight: 200;
  font-size: 14px;
  color: #565656;
  letter-spacing: 0px;
  line-height: 28px;
}

.about-part2-member{
  .flex-box-between;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.about-part2-memberbox{
  text-align: center;
  font-weight: 200;
}

.about-part2-member-title{
  /* Product Owner: */
  font-size: 12px;
  color: #797E80;
  letter-spacing: 0px;
  margin-top: 10px;
}

.about-part2-member-name{
  margin-top: 10px;
}

.about-part3{

}
