.contact-part1-left{
  width: 450px;
  float: left;
  margin-top: 40px;
}

.contact-part1-email{
  font-size: 18px;
  font-weight: 200;
  line-height: 60px;
}

.contact-part1-right{
  width: 500px;
  float: right;
  text-align: right;
}

.contact-part1 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.contact-part1-input{
  input{
    width: 475px;
    border-style:solid;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-left-width:0px;
    border-bottom-color: #A7A7A7;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
  }
  textarea{
    width: 475px;
    border-style:solid;
    border-top-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
    border-left-width:0px;
    border-bottom-color: #A7A7A7;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 140px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
  }
}

.contact-part1-select{
  width: 480px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-style:solid;
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width:1px;
  border-left-width:0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  background-color:transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  font-size: 18px;
  font-weight: 200;
  color: #A7A7A7;
  padding-left: 5px;
  background: url("http://ofji7fgcp.bkt.clouddn.com/arrow.svg") no-repeat scroll right center transparent;
}

.contact-part1-title{
  font-size: 40px;
  line-height: 58px;
  font-weight: 200;
}

.contact-part1-inf{
  margin-top: 20px;
  font-size: 18px;
  width: 94px;
  color: #A7A7A7;
  float: right;
  cursor: pointer;
  font-weight: 200;
  img{
    padding-left: 10px;
  }
}

.contact-part2{
  width: 1200px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  .flex-box-between
}

.contact-part2-map{
  width: 500px;
  height: 100%;
}

.contact-part2-text{
  width: 500px;
  height: 100%;
}

.contact-part2 {
  margin-top: 160px;
}

.contact-part2-title{
  font-size: 40px;
  line-height: 58px;
  font-weight: 200;
}

.contact-part2-script{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 200;
}

.contact-part3{
  width: 1200px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  .flex-box-between;
  margin-top: 160px;
  margin-bottom: 200px;
}

.contact-part3-left{
  width: 420px;
  height: 60px;
  margin-top: 180px;
  .flex-box-between;
}

.contact-part3-left-title {
  width: 160px;
  font-size: 40px;
  font-weight: 200;
  line-height: 58px;
  height: 60px;
}

.contact-part3-left-inner{
  width: 160px;
  .flex-box-between;
  height: 60px;
  img{
    display: block;
  }
}

.contact-part3-right{
  width: 340px;
  font-size: 20px;
  padding-top: 50px;
  font-weight: 200;
}

.contact-part3-right-title{
  margin-bottom: 40px;
}