.document-part1-bg{
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  background-color: yellow;
}

.document-part1{
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  font-weight: 200;
}

.document-part1-title{
  /* 开发者第一: */
  font-size: 40px;
  color: #000000;
  line-height: 58px;
  padding-top: 140px;
}

.document-part1-inner{
  /* 我们认为，直播技术最终是一个根植于代码的: */
  font-size: 18px;
  color: #000000;
  line-height: 32px;
  padding-top: 18px;
}


.document-part2{
  width: 1080px;
  height: 400px;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
}

.document-part2-line1{
  .flex-box-between
}

.document-part2-cell1{
  .flex-box-between;
  background-color: yellow;
}