.living-box{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.living-part1{
  width: 100%;
  height: 400px;
  padding-top: 100px;
}

.living-icon{
  width: 200px;
}

.living-title{
  font-size: 40px;
  font-weight: lighter;
}

.living-text{
  font-size: 18px;
  line-height: 32px;
  padding-top: 15px;
}

.living-script {
  padding-left: 45px;
  width: 460px;
  float: left;
}



.living-part1-left{
  float: left;
}

.living-part1-right{
  float: right;
  width: 390px;
  height: 200px;
  text-align: center;
  margin-top: 110px;
}

.living-part1-ios{
  margin-top: 18px;
  font-size: 16px;
}

.living-part1-android{
  font-size: 14px;
  margin-top: 15px;
  color: #A3A3A3;
}

.living-part2-img{
  width: 1200px;
  margin-top: -130px;
}

.living-part3 {
  width: 100%;
  height: 400px;
  .flex-box-between;
  margin-top: 120px;
  margin-bottom: 60px;
}

.living-part3-box{
  width: 400px;
  height: 100%;
}

.living-part3-box-title{
  font-size: 40px;
  font-weight: 300;
}

.living-part3-box-text{
  font-size: 20px;
  margin-top: 15px;
  line-height: 36px;
  color: #4D4D4D;
  font-weight: lighter;
}

.living-part3-midbox{
  margin-top: 50px;
  padding-left: 30px;
}

.living-part3-box-btn {
  width: 140px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  /* Rectangle 2: */
  background: rgba(0,0,0,0.00);
  border: 1px solid #000000;
  border-radius: 5px;
  /* 查看开源代码: */
  font-size: 16px;
  color: #000000;
  letter-spacing: 1.33px;
}