@import "public/index";
@import "living";
@import "homepage";
@import "contact";
@import "enterprise";
@import "character";
@import "price";
@import "rtc";
@import "about";
@import "pushsdk";
@import "player";
@import "document";
@import "unslider";

// font kit
.font-72 {
  font-size: 72px;
}

.font-46 {
  font-size: 46px;
}

.font-38 {
  font-size: 38px;
}

.font-28 {
  font-size: 28px;
}

.font-24 {
  font-size: 24px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

@font-light: 300;


//弹性盒子

.flex-box-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-box-right {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.flex-box-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}




.button-active {
  background-color: black;
  color: white;
  font-weight: 300;
}

.main-duration {
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s; /* Firefox 4 */
  -webkit-transition-duration: 0.2s; /* Safari 和 Chrome */
  -o-transition-duration: 0.2s; /* Opera */

  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}

.button-style {
  .font-18;
  cursor: pointer;
  text-align: center;
  background: rgba(0, 0, 0, 0.00);
  border: 1px solid #000000;
  .main-duration;
  &:hover {
    .main-duration;
    .button-active
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;;
}

select {
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

textarea {
  outline: none;
  -webkit-appearance: none;
  resize: none;
}

.float-clear {
  clear: both;
}

.cutline {
  width: 100%;
  height: 1px;
  background-color: #E6E9F0;
}

.text-cut {
  text-decoration: line-through;
  color: #B0B0B0;
}

#about-canvas {
  canvas {
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    margin-top: -160px;
  }
}


