.player-part1 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 120px;
  padding-top: 80px;
}

.player-part1-img {
  width: 840px;
}

.player-part1-line1 {
  width: 700px;
  .flex-box-between;
  margin-right: auto;
  margin-left: auto;
}

.player-part1-line1-btn {
  width: 140px;
  height: 60px;
  line-height: 60px;
  .button-style
}

.player-part1-line1-left {
  width: 400px;
}

.player-part1-line2 {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
}

.player-part1-line3 {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.player-part1-line1-title {
  .font-24;
  margin-top: 15px;
}

.player-part1-line1-inner {
  .font-38;
  margin-top: 20px;
  margin-bottom: 65px;
}

.player-part1-line3 {
  /* 强大的播放解码 SDK，专注直播而不限直: */
  .font-20;
  margin-top: 50px;
}

.player-part2 {
  .flex-box-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.player-part2-cell {

}

.player-part2-cell-title {
  .font-24;
  margin-top: 20px;
}

.player-part2-cell-inner {
  .font-16;
  margin-top: 10px;
}

.player-part3-line1 {
  padding-left: 0px;
}

.player-part3-inner1 {
  /* 功能: */
  .font-24;
}

.player-part3-inner2 {
  /* 完善的功能，多样的组合。: */
  .font-38;
}

.player-part3-inner3 {
  .font-20;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 120px;
}

.player-part3 {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  margin-bottom: 200px;
}

.player-part3-line4-cell {
  width: 50%;
  height: 40px;
  .flex-box-between;
  float: left;
  font-weight: 300;
}

.player-part3-line4-icon {
  padding-right: 100px;
}

.player-part3-line4-title {
  padding-left: 0px;
}

.player-layer {
  width: 1200px;
  height: 100px;
  position: absolute;
  margin-top: -100px;
}

/***************************************************/

@media (max-width: 1336px) {

  .player-part1 {
    width: 960px;
  }

  .player-part2 {
    width: 960px;
  }

  .player-part3 {
    width: 960px;
  }

}