.price-part1-bg{
  width: 100%;
  height: 300px;
  background-color: #F8FAFC;
  padding-top: 80px;
}

.price-part1{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  background-color: white;
  text-align: center;
  .flex-box-between;
}

.price-part1-list{
  width: 250px;
  font-weight: 200;
}

.price-line-box{
  width: 100%;
  height: 200px;
  /* Rectangle 8: */
  background: #FFFFFF;
  border: 1px solid #E6E9F0;
}

.price-line1{
  /* 免费: */
  font-size: 22px;
  color: #000000;
  padding-top: 50px;
  font-weight: 500;
}

.price-line2{
  width: 140px;
  height: 40px;
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  line-height: 40px;
  /* Rectangle 13: */
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 100px;
  /* 选择此方案: */
  font-size: 16px;
  color: #000000;
  letter-spacing: 0px;
  font-weight: 400;
  cursor: pointer;
}

.price-line3{
  line-height: 80px;
}

.price-part1-title{
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
  font-weight: 300;
}

.price-part2{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  margin-bottom: 180px;
}

.price-part2{
  .flex-box-between;
}

.price-part2-left{
  font-weight: 300;
  /* 定制需求可以进一步了解我们的企业服务。: */
  font-size: 32px;
  color: #000000;
  letter-spacing: 0.87px;
  line-height: 60px;
}

.price-part2-right{
  width: 180px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  /* Rectangle 2: */
  background: rgba(0,0,0,0.00);
  border: 1px solid #000000;
  /* 了解企业服务: */
  font-size: 18px;
  color: #000000;
  letter-spacing: 1.5px;
  line-height: 60px;
}

.price-part3{
  width: 1000px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.price-part3-inner{
  font-weight: 300;
  /* 1 基本功能： 2 高级功能：高级自选美: */
  font-size: 14px;
  color: #787878;
  letter-spacing: 0px;
  line-height: 28px;
  margin-top: 30px;
}