.pushsdk-part1-bg{
  width: 100%;
  height: 774px;
  /* Mask: */
  background: #F9F6F4;
  padding-top: 80px;
}

.pushsdk-part1{
  width: 1200px;
  height: 774px;
  margin-left: auto;
  margin-right: auto;
  .flex-box-between
}

.pushsdk-part1-left{
  width: 600px;
}

.pushsdk-part1-line1{
  margin-top: 150px;
}

.pushsdk-part1-line2{
  .font-24;
  margin-top: 15px;
}

.pushsdk-part1-line3{
  .font-38;
  margin-top: 10px;
}

.pushsdk-part1-line4{
  /* 高性能的直播推流 SDK，让你的移动应用: */
  .font-20;
  margin-top: 30px;
}

.pushsdk-part1-btn{
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-top: 30px;
  .button-style;
}

.pushsdk-part1-right-img{
  width: 382px;
  padding-top: 90px;
}

.pushsdk-part3{
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}

.pushsdk-part3-title{
  padding-top: 40px;
  line-height: 58px;
  text-align: center;
  .font-38;
}

.pushsdk-part3-right-icon{
  padding-right: 20px;
  padding-top: 40px;
}

.pushsdk-part3-right-inner{
  .flex-box-between;
  width: 500px;
}

.pushsdk-part3-right-title{
  /* 多样的编码格式支持: */
  .font-24;
  margin-top: 40px
}

.pushsdk-part3-inner{
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.pushsdk-part3-line1{
  .flex-box-between;
  margin-top: 50px;
}

.pushsdk-part3-right-sys{
  padding-top: 20px;
}

.pushsdk-part3-right-text{
  .font-16;
  padding-top: 20px;
}

/**************************************/


@media (max-width:1336px) {
  .pushsdk-part1{
    width: 960px;
    height: 774px;
  }

  .pushsdk-part1-left{
    width: 500px;
  }
  .pushsdk-part3-right-inner{
    width: 450px;
  }
  .pushsdk-part3-inner{
    width: 1000px;
  }

}