
.rtc-part1-bg {
  width: 100%;
  height: 800px;
  /* Rectangle 21: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FAFAFA 97%);
  padding-top: 80px;
}

.rtc-part1-img {
  width: 540px;
}

.rtc-part1 {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  .flex-box-between;
  margin-top: 160px;
}

.rtc-part1-title {
  .font-38;
  margin-top: 90px;
}

.rtc-part1-inner {
  .font-18;
  line-height: 36px;
  margin-top: 15px;
  width: 500px;
}

.rtc-part1-btn {
  width: 140px;
  height: 60px;
  .font-18;
  line-height: 60px;
  margin-top: 40px;
  .button-style
}

.rtc-part2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* Rectangle 21 Copy: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #FAFAFA 97%);
  height: 900px;
}

.rtc-part2-midbox {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}

.rtc-part2-action {
  .font-24;
}

.rtc-part2-title {
  .font-38;
  margin-top: 14px;
}

.rtc-part2-inner {
  .font-20;
  line-height: 36px;
  margin-top: 22px;
}

.rtc-part2-list {
  margin-top: 63px;
  width: 1100px;
  height: 340px;
  .flex-box-between;
  /* Rectangle 20: */
  border: 1px solid #E6E6E6;
  box-shadow: 0px 32px 88px 0px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  .font-16;
}

.rtc-part2-line {
  width: 33.3%;
  padding-top: 20px;
  div {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    line-height: 100px;
    img {
      padding-right: 10px;
    }
  }
}

.rtc-part3 {
  margin-top: 160px;
  margin-bottom: 160px;
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  .flex-box-between;
}

.rtc-part3-left {
  width: 500px;
}

.rtc-part3-title {
  .font-38;
  margin-top: 30px;
}

.rtc-part3-btn {
  height: 60px;
  width: 230px;
  line-height: 60px;
  margin-top: 40px;
  margin-bottom: 88px;
  .button-style;
}

.rtc-part3-line {
  margin-top: 45px;
  margin-bottom: 45px;
}

.rtc-part3-line-title {
  /* 如何优化带宽占用？: */
  font-size: 18px;
  color: #000000;
}

.rtc-part3-line-inner {
  color: #6F6F6F;
  .font-18;
  font-weight: 300;
  margin-top: 7px;
  width: 520px;
}

/*********************** 最大宽度是 1336 px *************************/

@media (max-width: 1336px) {
  .rtc-part1 {
    width: 960px;
  }

  .rtc-part1-inner {
    width: 400px;
  }

  .rtc-part1-img {
    width: 450px;
    margin-top: 40px;
  }

  .rtc-part2-midbox {
    width: 960px;
  }

  .rtc-part2-list {
    width: 860px;
  }

  .rtc-part3 {
    width: 960px;
  }

  .rtc-part3-line-inner {
    width: 400px;
  }

}