
.faq {
  margin-top: 160px;
  margin-bottom: 160px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.faq-left {
  width: 600px;
  height: 210px;
  float: left;
}

.faq-left-midbox {
  width: 440px;
  margin-left: 60px;
}

.faq-question {
  width: 600px;
  float: left;
  &:hover{
    .main-duration;
    opacity: 0.6;
  }
}

.faq-question-title {
  .font-16;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.faq-question-inner {
  .font-16;
  width: 480px;
  color: @font-color-gray;
  font-weight: @font-light;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.faq-title {
  .font-38;
  margin-top: 30px;
}

.faq-btn {
  height: 60px;
  width: 230px;
  line-height: 60px;
  margin-top: 40px;
  .button-style;
}

.faq-line {
  margin-top: 45px;
  margin-bottom: 45px;
}

.faq-line-title {
  /* 如何优化带宽占用？: */
  font-size: 18px;
  color: #000000;
}

.faq-line-inner {
  color: #6F6F6F;
  .font-18;
  font-weight: 300;
  margin-top: 7px;
  width: 520px;
}

/*********************** 最大宽度是 1336 px *************************/

@media (max-width: 1336px) {
  .faq-left-midbox {
    margin-left: 20px;
  }

  .faq {
    width: 960px;
  }

  .faq-left {
    width: 480px;
  }

  .faq-question {
    width: 480px;
  }

  .faq-question-title {
    width: 440px;
  }

  .faq-question-inner {
    width: 440px;
  }

}